.doctors{   
    &__wrapper{
        display: flex;
    .branding{
        display: flex;
        right: 0;
        position: absolute;
        max-width: 20rem;
        max-height: auto;
        margin: 0.8rem;
        img{
            max-width: 12rem;
            max-height: 5rem;
        }
    }
    }
    &__name{
        margin-top: 1rem;
        font-weight: 600;
        background: linear-gradient(
            60deg,
            rgb(100, 179, 243)0%,
            rgb(69, 233, 255) 100%);
        -webkit-background-clip: text;
        color: transparent;
        font-size: 3rem;
        display: flex;
        justify-content: left;
        margin-bottom: 6rem;
    }
    &__nav{  
        background: linear-gradient(
            60deg,
            rgb(0, 163, 204) 0%,
            rgb(26, 29, 218) 100%);
        width: 30rem;
        height: 100vh;
        left: 0;
        .burger__btn{
            background:rgb(0, 50, 143);
            padding: 1.7rem;
            display: flex;
            flex-direction: column;
            gap: 0.4rem;
            span{
                transition: 0.5s ease;
                width: 2.2rem;
                height: 0.3rem;
                background-color: $clr-light;
                border-radius: 5rem;
                display: block;
            }
            
        }
        ul{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            li{
                width: 100%;
                padding: 1rem;
                &:hover{
                    background: rgb(1, 2, 63);
                }
                a{
                    color: $clr-light;
                    font-size: 2.5rem;
                }
            }
            span{
               &:nth-of-type(1){
                height: 0.1rem;
                width: 100%;
                background: rgb(0, 45, 71);
               }
               &:nth-of-type(2){
                height: 0.1rem;
                width: 100%;
                background: rgb(0, 45, 71);
               }
               &:nth-of-type(3){
                height: 55rem;
                width: 30rem;
                border-bottom: 2px solid rgb(0, 103, 163);
               }
            }
            .reg__btn{
                margin-top: 2rem;
               display: flex;
               padding: unset;
               align-self: center;
               width: unset;
               padding-bottom: 2rem;
               &:hover{
                background: unset;
                a{
                    color: rgb(1, 2, 63);
                }
               }
            }
            .log__btn{
                padding: unset;
                border-radius: 25rem;
                background-color: rgb(35, 196, 196);
                width: 22rem;
                display: flex;
                justify-content: center;
                align-self: center;
                transition: 0.5s ease-in-out;
                &:hover{
                    background: rgb(35, 196, 196);
                    transition: 0.5s ease-in-out;
                    transform: scale(1.1);
                }
            }
        }
    }
}